* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  background-color:$background-color;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  font-family: 'Ubuntu', sans-serif;
}


html, body {

  color: $main-font-color;
}

h1, h2, h3, h4, h5 {
  font-family: 'Kaushan Script', cursive;
  // font-family: 'Russo One', sans-serif;
  color: $header-font-color;
}

h1{
  font-size: 4.2rem;
  margin:10px 10px;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
  // font-family: 'Alice', serif;
  font-family: 'ZCOOL XiaoWei', serif;
  margin:10px 10px;
}

a {
  font-size: 1.8rem;
  line-height: 1.4;
  text-decoration: none;
  color:$main-font-color;
  font-family: 'Kaushan Script', cursive;
}

nav {
  height:300px;
  width:800px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  .logo{
    width:30%;
  }
  .navlinks{
    @include flexrow;
    justify-content: flex-end;
    width:100%;
    margin-right:30px;
    a{
      margin:5px 15px;
      font-size: 2.6rem;
    }

  }
  &::after{
    content: "";
    height:300px;
    width:800px;
    background-image: url('/src/images/header-sm.jpg');
    background-position: top left;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
  }
}



.profile{
  margin:10px 0px 10px 15px;
  float:right;
  clear:none;
}
.cardList{
  @include flexrow;
  flex-wrap:wrap;
  .bunnyCard{
    width:45%;
    // height:250px;
    background-color: lightgrey;
    margin:10px
  }
}